---
// Footer component
---

<footer>
  <div class="container">
    <p>© 2025 Julian F. Krueger. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    padding: 4rem 0;
    text-align: center;
    opacity: 0.7;
    font-size: 0.9rem;
  }
</style>
