---
layout: "../layouts/BaseLayout.astro"
---

<header style="text-align:center;padding:2rem">
  <h1>JF Krüger</h1>
  <p>AI visuals, creative direction & future storytelling</p>
</header>

<section class="grid">
  <img src="/0402_ai_people_018.png" alt="AI Image 1">
  <img src="/magnifics_upscale-SYR2f9UBtgpC25LTJwz3-image_fx_ (2).png" alt="AI Image 2">
  <img src="/magnifics_upscale-MwfuU4LaqizR4zB49eGI-hyperjuju_create_a_modern_purple_portrait_of_a_chinese_woman__0b72b887-de78-4398-b951-d6b94f16307e_0.png" alt="AI Image 3">
  <img src="/magnifics_upscale-5NyDzbV4DiKMKNqHSDe7-image_fx_(127).png" alt="AI Image 4">
  <img src="/magnifics_upscale-bIcQ56NPhQYxlpTMYBNt-image_fx_(108).png" alt="AI Image 5">
  <img src="/magnifics_upscale-7iYg6Zn0Z3CtF5dQb0io-image_fx(9).png" alt="AI Image 6">
</section>

<section style="max-width:700px;margin:0 auto;padding:2rem;line-height:1.6">
  <h2>About</h2>
  <p>
    I am a creative hands-on entrepreneur and have nearly 20 years of experience in film making and post production.
    After being one of the leading creatives in virtual production over the last five years, I am now seamlessly moving into AI – pushing the limits into a new era.
    Currently working with Kling, Runway, Imagen-3, Midjourney and more.
  </p>
</section>
