---
layout: "../layouts/BaseLayout.astro"
---

<section class="hero">
  <img src="/header_bull.jpg" alt="Header Image" />
  <div class="hero-text">
    <h1>Julian F. Krueger</h1>
    <p>AI visuals, creative direction & future storytelling</p>
  </div>
</section>

<section class="gallery">
  <div class="image-wrapper"><img src="/_face.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/_geek.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/_headphone_woman.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/_rooftop.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/_sprayer.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/audi_night.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/choc_berry.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/fashion_.jpg" alt="Gallery Image" /></div>
  <div class="image-wrapper"><img src="/0402_ai_people_018.jpg" alt="Gallery Image" /></div>
</section>
